.DS_Store
*.log
*.aux
*.run.xml
*blx.bib
*.gz
*.out
*.Rhistory
*.RData
*.bbl
*.blg
*.toc
*.metaparams.txt
.nextflow/
.nextflow*
run_sim_hpcc.sh.e*
run_sim_hpcc.sh.o*
trace.txt
work/
*.fdb_latexmk
*.fls